@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  padding: 1vw;

  .userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 75vw;
    background-color: $white;
    border-radius: 15vw;
    box-shadow: $shadowBig;
    padding: 2vw;

    .userInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
      min-height: 44px;

      .userImgContainer {
        width: 40px;
        height: 40px;
      }

      .usersHeader {
        font-size: 1.5rem;
      }
    }

    .libraryContainer {
      border-radius: 0 0 15vw 15vw;
      overflow: hidden;

      .searchBarContainer {
        width: 100%;
        margin: 10px 0;

        .searchBar {
          width: 100%;
          background-color: $background-color;
          outline: none;
          border: none;
          box-shadow: $innerShadow;
          text-align: center;
          color: $tonedBrown;
          padding: 3vw;
          font-size: 1rem;
          border-radius: 15vw;
        }
      }

      .filmList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
        background-color: $white;
        padding: 10px 10px 100px;
        height: 100%;

        .film {
          width: 100px;
          height: 180px;
          background-color: $tonedBrown;
        }
      }
    }
  }

  .actionBtnContainer {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    padding: 10px 5vw;
  }
}
