$desktop: 1200px;

$background-color:  #FBE4F1;
$primary-color: #E96D75;
$primary-light-color: lighten($primary-color, 9%);
$accent-color: #E9A36D;
$black: #000;
$white: #fff;
$gold: #A9830B;
$tonedBrown: #AD9595;
$textGrey: rgba(0, 0, 0, 0.40);

$shadowSmall: 0 10px 10px -5px rgba(0, 0, 0, 0.35);
$shadowBig: 0px 5px 10px 5px rgba(0, 0, 0, 0.35);
$innerShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;